.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75% !important;
    max-width: 100%;
    margin: 1.5rem auto !important;
    gap: 0.51rem;
    justify-content: space-between;
}

.letter {
    display: inline-block;
    width: 100%;
    display: inline-block;
    max-width: 50px;
}