.titleLabel {
    margin: 0 0.5rem 1rem !important;
}

.pagination {
    box-shadow: none !important;
}

.table {
    width: 70% !important;
    max-width: 100%;
    background-color: white !important;
    margin: 0 auto !important;
}

@media (max-width: 800px) {
    .table {
        width: 98% !important;
    }
}